.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
}

.login_logo{
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 200px;
    margin-left: auto;
}

.login_container > h1 {
    
    font-weight: 500;
    margin-bottom: 40px;

}

.login_container > form >h5 {
    margin-bottom: 5px;

}
.login_container >form>input{
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
}

.login_container > p{
    margin-top: 15px;
    font-size: 10px;
}

.login_signbutton {
    background: #61dafb;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
}
.login_registerButton{
    background: #61dafb;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
}